@reference "../../styles/global.css";

#search {
	.search-container {
		@apply grid min-h-[100vh] place-items-center bg-white;
		.content-wrapper {
			@apply relative flex flex-col gap-[10px];
			.form-wrapper,
			.result-wrapper {
				button {
					@apply bg-light-green text-dark-green border-dark-green rounded-[3px] border px-[10px] py-[5px];
				}
			}
			.form-wrapper form {
				@apply flex flex-col gap-[10px];
				& > div {
					@apply flex min-w-min items-center justify-center gap-[inherit];
					input[type='text'] {
						@apply border-dark-green w-full rounded-[3px] border bg-white p-[10px];
					}
					.select {
						@apply w-full;
					}
				}
				.tag-wrapper {
					@apply flex w-fit flex-wrap;
					.tag {
						@apply bg-green border-dark-green flex gap-[5px] rounded-[3px] border p-[5px];
						button {
							@apply h-full w-full rounded-none border-none bg-transparent p-0 align-middle;
						}
					}
					& > button {
						@apply h-fit border-none bg-transparent p-0;
					}
				}
				button[type='submit'] {
					@apply bg-green;
				}
			}
			.result-wrapper {
				@apply flex w-full flex-col items-center gap-[10px];
				table {
					@apply border-dark-green border;
					th,
					td {
						@apply w-full p-[10px] text-nowrap;
					}
					th {
						@apply bg-dark-green text-light-green;
						&.asc,
						&.desc {
							@apply text-green;
						}
						&.asc::after {
							content: ' ↓';
						}
					}
					&.desc::after {
						content: ' ↑';
					}
				}
				td {
					@apply bg-light-green text-dark-green;
					button {
						@apply p-[5px];
						&.add {
							@apply bg-green relative;
							&:after {
								content: '';
								@apply bg-dark-green absolute inset-0 mix-blend-overlay;
							}
						}
					}
				}
			}
		}
		.btn-list {
			@apply border-dark-green rounded-[50%] border bg-white p-[10px];
			@apply fixed right-[15%] bottom-[15%] z-20;
		}
	}
}
